$pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1000px;
$sidePanelWidth: 380px;
$topSpacing: 6rem;
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
//$medPageWidth: $pageWidth + $sidePanelWidth + 4rem;
// 5 rem = 4 rem from .sidebar and 1 rem from .page
$medPageWidth: calc(#{$pageWidth} + #{$sidePanelWidth} + 5rem);
$boldWeight: 700;
$semiBoldWeight: 600;
$normalWeight: 400;
